.mypost-body {
	color : #4d4d4d;
}

.mypost-title {
	font-size:1.5rem;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mypost-comment {
	border-top : 1px solid #ccc;
	border-bottom : 1px solid #ccc;
	font-size: 0.9rem;
	padding : 20px 0 20px 10px;
}

.gpt-qna {
	width: 100%;
	margin-top : 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap : 20px;
}

.qnr-col{
	width: 10%;
	font-weight: bold;
}


.qnr-content{
	width: 90%;
	font-size: 1.1rem;
	font-weight: bold;
	display: flex;
	align-items: center;
}


.qnr-q, .qnr-a{
	border-radius: 10px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.qnr-header{
	padding: 10px;
	display: flex;
	gap : 20px;
}

.qnr-q, .q-icon{
	border : 1px solid #4d4d4d;
}

.qnr-a, .a-icon {
	color : #10a37f;
	border : 1px solid #10a37f;
}

.q-icon, .a-icon {
	font-size: 0.7rem;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.q-icon {
	background-color: #4d4d4d;
	color: white;
}

.a-icon {
	background-color: #10a37f;
	color : white;
}

.qnr-a-code {
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

.qnr-a-comment{
	padding: 10px;
	font-size: 1rem;
}

@media all and (max-width: 750px){
 .qnr-header{
    flex-direction: column;
 }
 .qnr-col{
	width: 100%;
 }
 .qnr-content{
 	width: 100%;	
 }
}

.mypost-bold{
	font-weight: bold;
}

.mypost-gpt-bold{
	font-weight: bold;
	color: #10a37f;
}


.mypost-callout {
	font-size:1.3rem;
	font-weight: bold;
	margin-top: 20px;
	color: #10a37f;
	border-left : 3px solid #10a37f;
	padding: 10px;
	background-color: #ebebeb;
}

.mypost-refer{
	padding: 10px;
	border : 1px solid #ebebeb; 
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.mypost-refer-content{
	font-size: 1rem;
}

.mypost-refer-source{
	font-size: 0.8rem;
	width: 100%;
	text-align: right;
	color : #9a9a9a;
}