* { word-break: keep-all; }
*:lang(ja) {
  word-break: break-all;
}
*:lang(zh-Hans) {
  word-break: break-all;
}
*:lang(zh-Hant-TW) {
  word-break: break-all;
}

.hidden{display: none !important;}

.comment-box{
  border : 1px solid #ccc;
  border-radius: 10px;
  width : 100%;
  max-width : 924px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding : 10px;
  margin-top : 30px;
  margin-bottom : 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

